:root{
    --cor-principal: #595959dd ;
    --cor-secundaria: #000000; 
    --cor-destaque: #000000;
    --cor-texto: #ffffff;
}

.favicon {
    border-radius: 50px;
}

body {
    background-image: url(campo.jpg);
    background-size: cover;
    background-position: center;
    color: var(--cor-texto);
    display:grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cor-titulo {
    color: #22d1d1;
}

.caixa-principal{
    background-color: var(--cor-principal);
    border-radius: 30px;
    font-size: 25px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 10px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    transition: background-color 0.3s;      
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.texto-resultado{
    color: #22d1d1;
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.rodape {
    display:flex;
    text-align: center;
}

.lista-rodape {
    display: block;
    list-style: none;
}

.lista-rodape-link:hover {
    color: var(--cor-destaque);
}

.lista-rodape-item {
    display: block;
}

.lista-rodape-link {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 16px;
}

.lista-rodape-titulo {
    font-size: 18px;
    color: var(--cor-destaque);
}

.eu{
    width: 10%;
}

.texto-resultado{
    color: #22d1d1;
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.clique{    
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-texto);
}

.clique:hover {
    color: var(--cor-destaque);
}

.clique2{    
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-destaque);
}

.clique2:hover {
    color: var(--cor-texto);
}